*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  li,ul{
    text-decoration: none;
    }
    
    header{
        background-color: rgb(71, 71, 71);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
        color: white;
       }
    .nav-links li{
        list-style : none;
     
    }
   

  