/* Page Set up Start */
*, html, body{
  font-family: 'Vollkorn', serif;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* Page Set up END */



 
  /* NavBar Start */
      nav{
        background-color: rgb(71, 71, 71);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 10%;
        color: white;
        width: 100%;
        position: fixed;
        z-index: 1;
      }
      nav ul, li{
        text-decoration: none;
        list-style: none;
        display: flex;
        padding: 0 2rem;
        font-size: 1.6rem;
      }  
  /* NavBar END */


  /* Header Start */
      
      header{
        background-image: url("https://lh5.googleusercontent.com/proxy/E60bugMrz3Jw0Ty3vD1HqfrrabnAQGlHzIJjRadV1kDS_XSE0AtWuMnjW9VPvq1YeyPJK13gZw63TQYvh2RlaZq_aQm5xskpsgWW1l67gg3mkYaZr07BQqMV47onKA=w3840-h2160-p-k-no-nd-mv");
        background-size: cover;
        height: 100vh;
        background-color: #ff0000;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      header > p {
        font-size: 4rem;
        color: aliceblue;
      }
  /* Header END */


/* Main Start */
main{
  width: 1005;
}

      /* Services Start */
        .ServicesGrid{
          background-color: yellow;
          display: grid;
          /* margin: 30px; */
          padding: 30px;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;
          align-items: center;
          justify-content: center;
        }

        .ServicesGrid > .Weeding1, .Weeding2, .Weeding3 {
          text-align: center;
          padding: 20px;
          background-color: cyan;
          
        }

        .ServicesGrid p {
          font-size: 3rem;
        }
        .ServicesGrid img {
          width: 100%;
        }
      /* Services END*/
      
      /* Image Impression Container Start */
        .ImpressionSec {
          height: fit-content;
        }

        .ImpressionSec > img {
          width: 100%;
          object-fit: cover;
        }

      /* Image Impression Container END */

      /* Menu Start */
        

      /* Menu END */


/* Main END */


   

@media (max-width:700px){
  .ServicesGrid{
    grid-template-columns: 1fr;
  }
}
  