/* Page Set up Start */
*, html, body{
  font-family: 'Vollkorn', serif;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img{
  width: 100%;
}
/* Page Set up END */



 
  /* NavBar Start */
      nav{
        background-color: rgb(71, 71, 71);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 10%;
        color: white;
        width: 100%;
        position: fixed;
        z-index: 1;
      }

      nav > ul {
        color: white;
        display: flex;

      }
      nav > ul, li{
        text-decoration: none;
        list-style: none;
        /* display: flex; */
        padding: 0 2rem;
        font-size: 1.6rem;
      }  

      nav > a {
        color: white;
      }


      nav > img{
        width: 160px;
      }
  /* NavBar END */


  /* Header Start */
      
      header{
        background-image: url("https://lh5.googleusercontent.com/proxy/E60bugMrz3Jw0Ty3vD1HqfrrabnAQGlHzIJjRadV1kDS_XSE0AtWuMnjW9VPvq1YeyPJK13gZw63TQYvh2RlaZq_aQm5xskpsgWW1l67gg3mkYaZr07BQqMV47onKA=w3840-h2160-p-k-no-nd-mv");
        background-size: cover;
        height: 100vh;
        background-color: #ff0000;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      header > p {
        font-size: 4rem;
        color: aliceblue;
      }
  /* Header END */


/* Main Start */
main{
  width: 1005;
}

      /* Services Start */
        .ServicesGrid{
          background-color: yellow;
          display: grid;
          /* margin: 30px; */
          padding: 30px;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;
          align-items: center;
          justify-content: center;
        }

        .ServicesGrid > .Weeding1, .Weeding2, .Weeding3 {
          text-align: center;
          padding: 20px;
          background-color: cyan;
          
        }

        .ServicesGrid > p {
          font-size: 3rem;
        }
        .ServicesGrid img {
          width: 100%;
        }
      /* Services END*/
      
      /* Image Impression Container Start */
        .ImpressionSec > img{
          width: 100%;
          object-fit: cover;
        }
      /* Image Impression Container END */
     

  
     
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
      h2{
          text-align: center;
          font-size: 26px;
          font-weight: bold;
           font-family: 'Poppins', sans-serif;
           margin :40px 40px 40px 40px;
      }
      .menucontainer1{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      /* grid-template-rows: repeat(1,130px); */
      column-gap: 30px;
      row-gap: 40px;
      }
      .menucontainer1 p {
          text-align: center;
          font-size: 15px;
          font-weight: normal;
           font-family: 'Poppins', sans-serif;  
      }
      h4{
          text-align: center;
          font-size: 25px;
          font-weight: bold;
      }
      
      .menucontainer2{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          /* grid-template-rows: repeat(1,130px); */
          column-gap: 30px;
            row-gap: 40px;
          }
          .menucontainer2 p {
              text-align: center;
              font-size: 15px;
              font-weight: normal;
               font-family: 'Poppins', sans-serif;  
               column-gap: 30px;
                row-gap: 30px;
          }
          h4{
              text-align: center;
              font-size: 25px;
              font-weight: bold;
          }
      
          .menucontainer3{
              display: grid;
              grid-template-columns: repeat(3,1fr);
              /* grid-template-rows: repeat(1,130px); */
              column-gap: 30px;
               row-gap: 40px;
              }
              .menucontainer3 p {
                  text-align: center;
                  font-size: 15px;
                  font-weight: normal;
                   font-family: 'Poppins', sans-serif;  
              }
              h4{
                  text-align: center;
                  font-size: 25px;
                  font-weight: bold;
              }
      
              .menucontainer4{
                  display: grid;
                  grid-template-columns: repeat(3,1fr);
                  /* grid-template-rows: repeat(1,130px); */                                           
                  column-gap: 30px;
                  row-gap: 30px;
                  }
                  .menucontainer4 p {
                      text-align: center;
                      font-size: 15px;
                      font-weight: normal;
                       font-family: 'Poppins', sans-serif;  
                  }
                  h4{
                      text-align: center;
                      font-size: 25px;
                      font-weight: bold;
                  }
      
                  .menucontainer5{
                      display: grid;
                      grid-template-columns: repeat(3,1fr);
                      column-gap: 20px;
                      }
                      .menucontainer5 p {
                          text-align: center;
                          font-size: 15px;
                          font-weight: normal;
                           font-family: 'Poppins', sans-serif;  
                      }
                      h4{
                          text-align: center;
                          font-size: 25px;
                          font-weight: bold;
                      }
      
                      .menucontainer6{
                          display: grid;
                          grid-template-columns: repeat(3,1fr);
                          column-gap: 20px;
                          }
                          .menucontainer6 p {
                              text-align: center;
                              font-size: 15px;
                              font-weight: normal;
                               font-family: 'Poppins', sans-serif;  
                          }
                          h4{
                              text-align: center;
                              font-size: 25px;
                              font-weight: bold;
                          }
      
                          .menucontainer7{
                              display: grid;
                              grid-template-columns: repeat(3,1fr);
                              column-gap: 20px;
                              }
                              .menucontainer7 p {
                                  text-align: center;
                                  font-size: 15px;
                                  font-weight: normal;
                                   font-family: 'Poppins', sans-serif; }
                                   h4{
                                    text-align: center;
                                    font-size: 25px;
                                    font-weight: bold;
                                }
                                .WHour{
                                  background-color: aliceblue;
                                }
                               

/* Menu END */
                                
                          
/* working hour section start */
h2{
  font-size: 25px;
  font-weight: bold;
}

.workinhourmain{
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-template-rows: repeat(1,130px); */
  
  }
 
.workinhourmain p {
     text-align: center;
      line-height: 20px;
      font-size: 15px;
      font-weight: normal;
       font-family: 'Poppins', sans-serif; 
       grid-area: content; 
  }
  h5{
      text-align: center;
      font-size: 23px;
      font-weight: bold;
  }
  
  .WHour{
    background-color: rgba(253, 235, 225, 1);
  }
  #map{
    width: 100%;
  }


  
/* awards secction start  */




/* -------Footer Start------- */
/* -------Footer Start------- */
  .footerContainer{
    background-color: cyan;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr ;
  }  

  .footerContainer h1{
      font-size: 3rem;
      color: black;
      text-align: left;
      height: auto;
      width: auto;
      margin: 0;
      padding: 0;
    }


    .footerContainer ul, li > a{
      list-style: none;
      padding: 0;
      font-size: 2rem;
      text-decoration: none;
      color: black;
    }

    .footerContainer ul > li{
      /* padding: 5px 0; */
      line-height: 2;
    }

    .footerContainer ul{
      padding: 0 0 0 15px;
    }

    

    .SiteMap {
      background-color: yellow;
      padding: 20px;
    }

    .SocialMedia {
      background-color: violet;
      padding: 20px;
    }  

    .Contact {
      background-color: lightblue;
      /* padding: 20px; */
    }

    .ConatactUS {
      background-color: lightgreen;
      padding: 20px;
    }

    .Address {
      background-color: lightsalmon;
      padding: 20px;
    }

  /* Form Styling Start */
      .FormBlock{
      align-content: center;
      display: flex;
      display: inline-flex;
      padding: 50px 150px;
      flex-direction: row;
      max-width: 100%;
      max-height: 100%;
      flex-wrap: wrap;
      background-color: yellowgreen;
    }

    .myFormParent{
      align-content: center;
      margin: 0;
      /* width: 50%; */
      /* background: beige; */
      padding: 20px;
      background-color: wheat;
    }


    /* .FormElementsContainer h1{
      font-size: 30px;
      color: black;
      text-align: left;
      height: auto;
      width: auto;
      margin: 0;
      padding: 0;
    } */

    .FormElementsContainer{
      width: 100%;
    }

    .myForm{
      display: flex;
      align-content: center;
      background-color: violet;
    }

    .myForm input{
      margin: 7px 0px;
      border-radius: 0px;
      border-color: #000000;
      background-color: white;
      width: 100%;
      height: 57px;
      padding: 12px 15px;
      /* display: inline-block; */
      border: 2px solid #000000;
      box-sizing: border-box;
    }

    .myForm textarea{
      display: inline-block;
      width: 100%;
      height: 120px;
      margin: 7px 0px;
      padding: 12px 15px;
      border: 2px solid #000000;
      box-sizing: border-box;
      resize: none;
      border-radius: 0px;
      border-color: #000000;
      background-color: white;
    }

    .myForm ::placeholder{
      font-size: 1.3rem;
      font-weight: lighter;
      font-family: sans-serif;
      /* font-style: italic; */
      color: #a7a2a2;
    }

    button{
      float: right;
      height: 60px;
      width: 150px;
      padding: 0px;
      border: none;
      border-radius: 0px;
      background-color: #0C9EF2;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      color: white;
      cursor: pointer;
    }
  /* Form Styling END */

/* -------Footer Start------- */
/* -------Footer Start------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
h2{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
   font-family: 'Poppins', sans-serif;
   margin :40px 40px 40px 40px;
}
.awardsGrid{
display :grid;
grid-template-columns: repeat(2,1fr); 
/* margin: 50px 10px 10px 100px; */
}

.awardsGrid img{
  width: 100%;
  object-fit: cover;
}

.awardsGrid .p{
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}
h2{
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.chefsrow1{
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  grid-template-areas: "sidebar content";
  
}

.text1{
    
    grid-area: content;
    text-align: center;
    font-size: 25px;
    letter-spacing:-0.015em;
    line-height:90px ;
    margin: 55px 25px 45px 45px;
    }
    #chefa{
      width: 100%;
      object-fit: cover;
    }

    .chefsrow2{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-areas: " content sidebar";
        
      }
      
      .text2{
          
          grid-area: content;
          text-align: center;
          font-size: 22px;
          letter-spacing:-0.015em;
          line-height:75px ;
        
          }
          #chefb{

            width: 100%;
            object-fit: cover;
      
          }
          .chefsrow3{
            display: grid;
            grid-template-columns: repeat(2,1fr); 
            grid-template-areas: "sidebar content";
            
          }
          
          .text3{
              
            grid-area: content;
            text-align: center;
            font-size: 22px;
            letter-spacing:-0.015em;
            line-height:90px ;
         
              }
              #chefc{
                width: 100%;
                object-fit: cover;
              }
             #mainphoto{
               width: 100%;
                 }
             .storyrow1{
              display: grid;
              grid-template-columns: repeat(2,1fr);  
              grid-template-areas: "sidebar content";
              
            }
            
            .texts1{
                
                grid-area: content;
                text-align: center;
                font-size: 25px;
                letter-spacing:-0.015em;
                line-height:90px ;
               
                }
                #story1{
                  width: 100%;
                  object-fit: cover;
            
                }
            
                .storyrow2{
                    display: grid;
                    grid-template-columns: repeat(2,1fr); 
                    grid-template-areas: " content sidebar";
                    
                  }
                  
                  .texts2{
                      
                      grid-area: content;
                      text-align: center;
                      font-size: 25px;
                      letter-spacing:-0.015em;
                      line-height:75px ;
                     
                      }
                      #story2{
            
                        width: 100%;
                        object-fit: cover;
                  
                      }
                      .storysrow3{
                        display: grid;
                        grid-template-columns: repeat(2,1fr); 
                        grid-template-areas: "sidebar content";
                        
                      }
                      
                      
                      .texts3{
                          
                        grid-area: content;
                        text-align: center;
                        font-size: 25px;
                        letter-spacing:-0.015em;
                        line-height:90px ;
                       
                          }
                          #story3{
                              
                            width: 100%;
                            object-fit: cover;
                      
                          }
            /* awards secction ends  */ 
   

@media (max-width:700px){
  .ServicesGrid{
    grid-template-columns: 1fr;
  }

  .menucontainer1, .menucontainer2, 
  .menucontainer3, .menucontainer4, .menucontainer5, .menucontainer6, 
  .menucontainer7{
    grid-template-columns: 1fr;
    line-height: 30px;
    padding: 10px 0;
  }

  .ServicesGrid, .menucontainer1, .menucontainer2, 
  .menucontainer3, .menucontainer4, .menucontainer5, .menucontainer6, 
  .menucontainer7 > div{
    padding: 20px 0;
  }
  /* .ServicesGrid, .menucontainer1, .menucontainer2, 
  .menucontainer3, .menucontainer4, .menucontainer5, .menucontainer6, 
  .menucontainer7 > h4{ 
    line-height: 30px;
    color: red;
  } */
  
/* Reverse Coolumns */

.workinhourmain, .awardsGrid{
  display: flex;
  flex-direction: column;
}
.workinhourmain > div{
  padding: 20px 0;
}

  .chefsrow1, .chefsrow2, .chefsrow3{
    display: flex;
    flex-direction: column;
    }
    .chefsrow2{
      flex-direction: column-reverse;
    }


    .storyrow1, .storyrow2, .storysrow3{
      display: flex;
      flex-direction: column;
    }
    .storyrow2{
      flex-direction: column-reverse;
    }
      /* .storyrow2 .s2 > img{
        width: 100%;
      } */

    /* Reverse Coolumns */

          .text1, .text2, .text3, .texts1, .texts2, .texts3{
              text-align: center;
              font-size: 15px;
              /* letter-spacing:-0.015em; */
              line-height:20px;
              margin: 55px 25px 45px 45px;
              }



    .footerContainer{
      grid-template-columns: 1fr;
    }
  }
         /* } */